*.pyc
venv/
.idea/*
.pyc
**/*/*.pyc
**/**/*.pyc
pyc
.pyc
/*.pyc
**/*.pyc
**/migrations/**
**/migrations/*.pyc
!**/migrations
!**/migrations/__init__.py
pyc
todo/*.pyc
todoapp/*.pyc
.vscode/
.DS_Store
*.DS_Store
**/*.DS_Store
**/*/*.DS_Store
templates/.DS_Store